.flows.json.backup
[{"id":"6b8c7e72.f983d","type":"tab","label":"Login","disabled":false,"info":""},{"id":"685e41d7.4e845","type":"tab","label":"HeartBeat","disabled":false,"info":""},{"id":"e674ed4c.4982f","type":"JsonWebToken_config","z":"","name":"JWTConfig","secret":"secret"},{"id":"e249a2f6.4d188","type":"http in","z":"6b8c7e72.f983d","name":"Login","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["d26d0f78.97121"]]},{"id":"94b887a.ea4b778","type":"debug","z":"6b8c7e72.f983d","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":20,"wires":[]},{"id":"18fa634a.9e4dbd","type":"http response","z":"6b8c7e72.f983d","name":"LoginResponse","statusCode":"","headers":{},"x":600,"y":440,"wires":[]},{"id":"c96601ef.0964f","type":"JsonWebToken","z":"6b8c7e72.f983d","name":"JWT Encode","tokenconfig":"e674ed4c.4982f","x":350,"y":220,"wires":[["fe48f57.9232b08"]]},{"id":"7bf639a8.9841e8","type":"debug","z":"6b8c7e72.f983d","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":280,"wires":[]},{"id":"fe48f57.9232b08","type":"change","z":"6b8c7e72.f983d","name":"Set Headers","rules":[{"t":"set","p":"req.headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":320,"wires":[["e6ac8d0c.796fb","7bf639a8.9841e8"]]},{"id":"d26d0f78.97121","type":"function","z":"6b8c7e72.f983d","name":"Set Expiration","func":"msg.payload.exp = Math.floor(Date.now() / 1000) + (60 * 10);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["c96601ef.0964f","94b887a.ea4b778"]]},{"id":"12ab8eab.351ac1","type":"http in","z":"6b8c7e72.f983d","name":"AuthTest","url":"/auth-test","method":"get","upload":false,"swaggerDoc":"","x":150,"y":540,"wires":[["4c0d47ca.33b448"]]},{"id":"27e1296.32f71d6","type":"JsonWebToken","z":"6b8c7e72.f983d","name":"JWT Decode","tokenconfig":"e674ed4c.4982f","x":410,"y":660,"wires":[["a129880b.4318e8","295e2d1.4f964d2"]]},{"id":"4c0d47ca.33b448","type":"function","z":"6b8c7e72.f983d","name":"Set Token","func":"msg.token = msg.req.headers.authorization.replace('Bearer ', '');\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":600,"wires":[["27e1296.32f71d6"]]},{"id":"77191b83.bdf014","type":"http response","z":"6b8c7e72.f983d","name":"AuthResponse","statusCode":"","headers":{},"x":700,"y":780,"wires":[]},{"id":"a129880b.4318e8","type":"debug","z":"6b8c7e72.f983d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"token","targetType":"msg","x":590,"y":580,"wires":[]},{"id":"295e2d1.4f964d2","type":"function","z":"6b8c7e72.f983d","name":"Validate Token","func":"if (Math.floor(Date.now() / 1000) < msg.token.exp && \n    msg.token.username == 'admin' && msg.token.password == 'admin'\n) {\n    msg.payload = {username: msg.token.username};    \n} else {\n    msg.statusCode = 401;\n    msg.payload = {error: \"Not Auth\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":720,"wires":[["77191b83.bdf014"]]},{"id":"e6ac8d0c.796fb","type":"function","z":"6b8c7e72.f983d","name":"Set Response","func":"if (msg.payload.username == 'admin' && msg.payload.password == 'admin') {\n    msg.payload = {\"token\": msg.token};\n} else {\n    msg.statusCode = 401;\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["18fa634a.9e4dbd"]]},{"id":"b7cb5e69.9dcc8","type":"http in","z":"685e41d7.4e845","name":"HeartBeat","url":"/heart-beat","method":"post","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["e12a0f49.a74c2","a454a0de.3103d"]]},{"id":"ae5b52c3.a8af2","type":"http response","z":"685e41d7.4e845","name":"HeartBeatResponse","statusCode":"","headers":{},"x":860,"y":420,"wires":[]},{"id":"b6af23dd.0913a","type":"http request","z":"685e41d7.4e845","name":"POST to monitor","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:9092/api/heart-beat","tls":"","proxy":"","authType":"basic","x":830,"y":300,"wires":[["ae5b52c3.a8af2"]]},{"id":"e12a0f49.a74c2","type":"function","z":"685e41d7.4e845","name":"Set Token","func":"msg.token = msg.req.headers.authorization.replace('Bearer ', '');\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":140,"wires":[["53aa24cb.88a44c","758a2215.e66bdc"]]},{"id":"53aa24cb.88a44c","type":"JsonWebToken","z":"685e41d7.4e845","name":"JWT Decode","tokenconfig":"e674ed4c.4982f","x":210,"y":240,"wires":[["de59b9f6.881b38","758a2215.e66bdc"]]},{"id":"ec7e171e.82ff88","type":"inject","z":"685e41d7.4e845","name":"Get Token","topic":"","payload":"{\"username\":\"daLZGwig\",\"password\":\"nQljICEYydzReZgN\"}","payloadType":"json","repeat":"540","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":520,"wires":[["30457924.183076"]]},{"id":"30457924.183076","type":"http request","z":"685e41d7.4e845","name":"POST Auth","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:9092/api/auth","tls":"","proxy":"","authType":"basic","x":380,"y":520,"wires":[["ac1803e9.5665"]]},{"id":"2f9a7db2.7eec02","type":"debug","z":"685e41d7.4e845","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":520,"wires":[]},{"id":"ac1803e9.5665","type":"change","z":"685e41d7.4e845","name":"Set Token","rules":[{"t":"set","p":"token","pt":"flow","to":"payload.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":520,"wires":[["2f9a7db2.7eec02"]]},{"id":"3d5f9ce3.f53cc4","type":"debug","z":"685e41d7.4e845","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"req","targetType":"msg","x":840,"y":200,"wires":[]},{"id":"4db3d3f2.f6ee3c","type":"function","z":"685e41d7.4e845","name":"Set Auth","func":"msg.req = {};\nmsg.headers = {};\nmsg.headers.authorization = 'Bearer ' + flow.get('token') \nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["3d5f9ce3.f53cc4","b6af23dd.0913a"]]},{"id":"de59b9f6.881b38","type":"function","z":"685e41d7.4e845","name":"Validate Token","func":"if (Math.floor(Date.now() / 1000) < msg.token.exp && \n    msg.token.username == 'admin' && msg.token.password == 'admin'\n) {\n    msg.statusCode = 200;    \n} else {\n    msg.statusCode = 401;\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["5e5998d1.246d88"]]},{"id":"5e5998d1.246d88","type":"switch","z":"685e41d7.4e845","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":340,"wires":[["4db3d3f2.f6ee3c"],["ae5b52c3.a8af2"]]},{"id":"758a2215.e66bdc","type":"debug","z":"685e41d7.4e845","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"token","targetType":"msg","x":430,"y":120,"wires":[]},{"id":"a454a0de.3103d","type":"debug","z":"685e41d7.4e845","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.headers","targetType":"msg","x":360,"y":40,"wires":[]}]